@media screen and (max-width: 1024px){
    #menu-izq{
        width: 16%;
        margin-right: 2%;

    
}

@media screen and (max-width: 800px){


    #contenido{
        width: 100%;
        margin: 0 auto;
    }

    #menu-izq{
        width: 97%;
        margin-right: 2%;
    }
    
}

@media screen and (max-width: 480px){

    #contenido{
        width: 100%
    }

    #menu-izq{
        width: 97%;
        margin-right: 2%;
    }

}